{% extends 'base.html' %}

{% block title %}Cadastrar Produto{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h3 class="mb-4">Cadastrar Produto</h3>

    <form action="{{ url_for('adicionar_produto') }}" method="post">
      <div class="mb-3">
        <label for="txtNome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="txtNome" name="txtNome" required>
      </div>

      <div class="mb-3">
        <label for="txtQtde" class="form-label">Quantidade</label>
        <input type="number" class="form-control" id="txtQtde" name="txtQtde" min="0" required>
      </div>

      <div class="mb-3">
        <label for="txtQtMin" class="form-label">Quantidade Mínima</label>
        <input type="number" class="form-control" id="txtQtMin" name="txtQtMin" value="0" min="0">
      </div>

      <div class="mb-3">
        <label for="txtDescricao" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="txtDescricao" name="txtDescricao">
      </div>

      <button type="submit" class="btn btn-success">Cadastrar</button>
      <a href="{{ url_for('lista_produtos') }}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endblock %}
